# Copyright (c) 2022 YuLong Yao <feilongphone@gmail.com>
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_AT32F402_405

#config SOC_SERIES
#	default "at32f402_405"
	
rsource "Kconfig.defconfig.at32*"

endif # SOC_SERIES_AT32F402_405